* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif !important;
}
body {
  background: #f2f2f2!important;
  margin: 0;
}

.boxContainer {
  padding: 4rem 6rem 4rem 6rem;
}

.searchInput {
  height: 3rem;
  margin: 0rem 2rem 0rem 0rem;
  width: 80%;
}

.searchBtn {
  width: 10%;
  background-color: black!important;
}

::-webkit-input-placeholder { /* Edge */
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 1rem;
  color: #f2f2f2;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 1rem;
  color: #f2f2f2;
}
::placeholder {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 1rem;
  color: #f2f2f2;
}

.resultCount {
  font-weight: 600;
  color: gray;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 1.2rem!important;
  margin: 0!important;
  margin-top: 1rem!important;
  font-weight: 900!important;
  font-family: sans-serif!important;
}

.cardImage {
  height: 200px!important;
  width: 235px!important;
}

.loadMore {
  font-size:0.8rem
}

@media (max-width: 350px) {
  .searchBtn {
    width: 30%;
  }
  .searchInput {
    margin: 0rem 0.5rem 0rem 0rem;
  }
}

@media (max-width: 500px) {
  .boxContainer {
    padding: 2rem 2rem 2rem 2rem;
  }
  .searchInput {
    margin: 0rem 1rem 0rem 0rem;
  }
  .searchBtn {
    width: 20%;
  }
}

@media (max-width: 780px) {
  .searchBtn {
    width: 15%;
  }
}